---
import Layout from "../layouts/Layout.astro";
import Intro from "../components/Intro.astro";
import { getEpNumber } from "../utils/getEpNumber";
import { getCollection } from "astro:content";

const episodes = await getCollection("episode");
---

<Layout>
  <main>
    <Intro />
    <ul>
      {
        episodes
          .sort((a, b) => getEpNumber(b.slug) - getEpNumber(a.slug))
          .map((ep) => (
            <li>
              <a href={`/ep/${ep.slug}`}>{ep.data.title}</a>
            </li>
          ))
      }
    </ul>
  </main>
</Layout>

<style></style>
