---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

import { getCollection, getEntries, getEntry } from "astro:content";
const episodes = await getCollection("episode");
---

<Layout title="Welcome to Astro.">
  <main>
    <ul>
      {
        episodes
          .sort(
            (a, b) =>
              parseInt(b.slug.split("-")[0]) - parseInt(a.slug.split("-")[0])
          )
          .map((ep) => (
            <li>
              <a href={`/${ep.slug}`}>{ep.data.title}</a>
            </li>
          ))
      }
    </ul>
  </main>
</Layout>

<style></style>
