---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { getEpNumber } from "../utils/getEpNumber";

import { getCollection, getEntries, getEntry } from "astro:content";
const episodes = await getCollection("episode");
---

<Layout title="resize.fm">
  <main>
    <ul>
      {
        episodes
          .sort((a, b) => getEpNumber(b.slug) - getEpNumber(a.slug))
          .map((ep) => (
            <li>
              <a href={`/ep/${ep.slug}`}>{ep.data.title}</a>
            </li>
          ))
      }
    </ul>
  </main>
</Layout>

<style></style>
