---
import Copyright from "./Copyright.astro";
import Intro from "./Intro.astro";
---

<div>
  <Intro />
  <Copyright />
</div>

<style lang="scss">
  div {
    background: $color-palegray2;
    padding: 32px 0;
  }
</style>
