$color-black: #1a1a1a;
$color-darkgray: #4d4d4d;
$color-gray: #808080;
$color-lightgray: #b2b2b2;
$color-palegray2: #f2f2f2;
$color-palegray: #f7f7f7;
$color-white: #ffffff;

$color-blue: #2d87e0;

$cotainer-width: 640px;
