@import "variables";

.episodeDetail {
  max-width: $cotainer-width;
  text-align: left;
  margin: 64px auto;
  padding: 0 16px;

  .title {
    line-height: 1.2;
  }

  .meta {
    margin: 8px 0 4px;
    color: $color-lightgray;
    font-size: 14px;

    > span {
      display: inline-block;
      margin-right: 16px;
      margin-bottom: 4px;

      img {
        display: inline-block;
        margin-bottom: -1px;
        margin-right: 3px;
        width: 12px;
        height: 12px;
      }
    }
  }

  .player {
    margin: 24px 0;

    iframe {
      width: 100%;
    }
  }

  .description {
    margin: 24px 0;
    font-size: 16px;
    line-height: 1.8;
  }

  .contents {
    font-size: 16px;
    line-height: 1.8;

    ul {
      line-height: 1.2;
      padding-left: 24px;

      li {
        margin: 16px 0;
      }
    }
  }
}

.footer {
  background: $color-palegray2;
  padding: 32px 0;
}
