@import "../node_modules/modern-css-reset/dist/reset.css"; // reset css
@import "variables";

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI",
    "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic Medium", "Yu Gothic",
    Verdana, Meiryo, sans-serif;
  line-height: 1.4;
  color: $color-black;
}

body {
  background: $color-palegray url("/images/bg_grad.png") repeat-x top center;
  background-size: 1px;
  text-align: center;
}

a {
  color: $color-blue;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
