@import "variables";

.header {
  height: 260px;
  text-align: center;

  h1 {
    padding-top: 80px;
    font-size: 48px;
    letter-spacing: 2px;

    a {
      color: $color-black;
      text-decoration: none;
      text-shadow: 0 0 24px #ffffff, 0 0 48px #ffffff;
      transition: 0.3s;
      transition-property: text-shadow, color;

      &:hover {
        color: $color-darkgray;
        text-shadow: 0 0 24px #ffffff, 0 0 48px #ffffff, 0 0 48px #ffffff;
      }
    }
  }
}

.services {
  max-width: $cotainer-width;
  padding: 0 16px;
  margin: 24px auto;
  text-align: left;

  .siteDescription {
    font-size: 14px;
    line-height: 1.8;
    color: $color-gray;

    a {
      color: $color-lightgray;

      &:hover {
        color: $color-blue;
      }
    }
  }

  .buttons {
    margin-top: 16px;
    text-align: center;
  }

  .buttonItem {
    display: inline-block;
    position: relative;
    background: $color-white;
    border-radius: 8px;
    height: 40px;
    line-height: 40px;
    padding-left: 38px;
    padding-right: 16px;
    margin: 8px;
    font-size: 14px;
    text-decoration: none;
    color: $color-lightgray;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);
    transition: 0.3s;
    transition-property: box-shadow, color;

    .iconColor,
    .iconMono {
      position: absolute;
      top: 11px;
      left: 16px;
      transition: 0.3s;
      transition-property: opacity;
    }

    .iconColor {
      opacity: 0;
    }

    &:hover {
      color: $color-black;
      box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15);

      .iconMono {
        opacity: 0;
      }

      .iconColor {
        opacity: 1;
      }
    }
  }
}

.episodeList {
  max-width: $cotainer-width;
  text-align: left;
  margin: 48px auto;
  padding: 0 16px;

  .listItem {
    margin: 16px 0;
    padding: 0;
    list-style: none;

    > a {
      display: block;
      position: relative;
      height: 120px;
      background: $color-white;
      border-radius: 8px;
      padding-left: 136px;
      padding-top: 16px;
      padding-right: 16px;
      box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);
      transition: 0.3s;
      transition-property: box-shadow;

      &:hover {
        text-decoration: none;
        box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15);

        .title {
          text-decoration: underline;
        }
      }
    }

    .thumbnail {
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 8px 0 0 8px;
      width: 120px;
      height: 120px;
      object-fit: cover;
    }

    .number {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 24px;
      line-height: 24px;
      color: $color-white;
      font-weight: bold;
      padding: 8px;
      text-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
    }

    .title {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      font-size: 16px;
      font-weight: bold;
      color: $color-black;
    }

    .description {
      font-size: 12px;
      line-height: 1.6;
      margin: 6px 0;
      color: $color-gray;
      display: -webkit-box;
      overflow: hidden;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    .meta {
      font-size: 12px;
      color: $color-lightgray;

      > span {
        display: inline-block;
        margin-right: 16px;

        img {
          display: inline-block;
          margin-bottom: -1px;
          margin-right: 3px;
          width: 12px;
          height: 12px;
        }
      }
    }
  }
}

.copyright {
  margin: 32px;
  font-size: 14px;
  color: $color-lightgray;

  a {
    color: $color-lightgray;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      color: $color-blue;
    }
  }
}

.footer {
  background: $color-palegray2;
  padding: 32px 0;
}

@media screen and (max-width: 480px) {
  .header {
    height: 160px;

    h1 {
      padding-top: 56px;
      font-size: 40px;
    }
  }

  .services .buttons .buttonItem {
    padding-left: 36px;
    font-size: 12px;

    .iconColor,
    .iconMono {
      top: 12px;
      left: 16px;
      width: 16px;
    }
  }

  .episodeList {
    .listItem {
      > a {
        height: 80px;
        background: $color-white;
        padding-left: 88px;
        padding-top: 8px;
        padding-right: 8px;
      }

      .thumbnail {
        width: 80px;
        height: 80px;
      }

      .number {
        font-size: 16px;
        line-height: 16px;
      }

      .title {
        font-size: 14px;
        white-space: normal;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }

      .description {
        display: none;
      }

      .meta {
        margin-top: 8px;

        .time {
          display: none;
        }
      }
    }
  }

  .copyright {
    font-size: 12px;
  }
}
