@import "../node_modules/modern-css-reset/dist/reset.css"; // reset css
@import "variables";

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI",
    "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic Medium", "Yu Gothic",
    Verdana, Meiryo, sans-serif;
  line-height: 1.4;
  color: $color-black;
}

body {
  background-color: $color-palegray;
  background-image: url("/images/resizefm_background.png"),
    url("/images/bg_grad.png");
  background-position: top center, top center;
  background-size: 1200px auto, 1px auto;
  background-repeat: no-repeat, repeat-x;
  text-align: center;
}

a {
  color: $color-blue;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

@media screen and (max-width: 480px) {
  body {
    background-size: 800px auto, 1px auto;
  }
}
