@import "variables";

.copyright {
  margin: 32px;
  font-size: 14px;
  color: $color-lightgray;

  a {
    color: $color-lightgray;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      color: $color-blue;
    }
  }
}

.footer {
  background: $color-palegray2;
  padding: 32px 0;
}

@import "mobile";
